<section class="vh-100 align-items-center d-flex">
  <div class="container-fluid h-custom">
    <div class="row d-flex justify-content-center align-items-center h-100">

      <div class="col-md-8 col-lg-6 col-lx-4 offset-xl-1">
        <form >
            <div class="d-flex flex-row align-items-center justify-content-center justify-content-lg-start">
              <p class="lead fw-normal mb-0 me-3">Login</p>
            </div>
            <br>
            <br>

            <div class="form-outline mb-3 col-md-6">
              <input type="email" id="form3Example3" class="form-control form-control-lg"
              placeholder="Insira o email" [(ngModel)]="login.email"/>
            <label class="form-label" for="form3Example3">Email address</label>
            </div>

            <div class="form-outline mb-3 col-md-6">
              <input type="password" id="form3Example4" class="form-control form-control-lg"
                placeholder="Insira a senha" [(ngModel)]="login.senha"/>
              <label class="form-label" for="form3Example4">Password</label>
            </div>

            <div class="text-center text-lg-start mt-4 pt-2">
              <button type="submit" class="btn btn-primary btn-lg"
                style="padding-left: 2.5rem; padding-right: 2.5rem;">Login</button>
            </div>
        </form>
    </div>

      <div class="col-md-9 col-lg-6 col-xl-5">
        <img src="/frontend-pizzaria/src/assets/vecteezy_pizza-png-graphic-clipart-design_19613640_634.png" alt="Sample image"
        class="img-fluid">
      </div>

      

    </div>
  </div>
</section>

<!-- <div class="">
  <div class="row">

    <div class="col-lg-4">
      <form (ngSubmit)="logar()">
        <div class="mb-3">
          <label for="exampleInputText1" class="form-label">Email:</label>
          <input type="text" class="form-control" name="exampleInputText1" aria-describedby="emailHelp"
            [(ngModel)]="login.email">
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Senha:</label>
          <input type="password" class="form-control" name="exampleInputPassword1" [(ngModel)]="login.senha">
        </div>
        <button type="submit" class="btn btn-primary">Logar</button>
      </form>
    </div>
  </div>
</div> -->


