<p>saboreslista works!</p>
<div class="container">
  <h3 class="alert alert-primary">Listagem de sabores!</h3>

  <td> <button class="btn btn-primary" (click)="adicionar(modal1)">Adicionar</button> </td>
  <div class="row">
    <div class="col-lg-12">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#ID</th>
            <th scope="col">Sabores</th>
            <th scope="col" class="colspan-2">Acoes</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let sabor of listaFiltrada; let i = index">
            <th scope="row">{{ sabor.id }}</th>
            <td> {{ sabor.nome }} </td>
            <td *ngIf="!modoLancamento">
              <button type="button" class="btn btn-primary" (click)="editar(modal1, sabor, i)">Editar</button>
              <button type="button" class="btn btn-danger" (click)="deletar(sabor)">Deletar</button>
            </td>
            <td *ngIf="modoLancamento"><button type="button" class="btn btn-primary" (click)="lancamento(sabor)">Lancar</button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>


<ng-template #modal1 let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Modal title</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">

    <app-saboresdetails [sabor]="saborSelecionadoParaEdicao" (retorno)="addOuEditarPessoa($event)"></app-saboresdetails>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
  </div>
</ng-template>
