<form (ngSubmit)="salvar()" >
  <div class="row">
    <h2 *ngIf="pedido.usuario == null" class="col-md-4">Sem Usuario</h2>
    <h2 *ngIf="pedido.usuario != null" class="col-md-4">Usuário: {{ pedido.usuario.nome }}</h2>
    <button type="button" class="btn btn-primary col-md-3" (click)="lancarUsuario(modal2)" [disabled]="desabilitaCampo" >
      Vincular usuário
    </button>

  </div>
  

  <div class="mb-3">
    <label for="exampleInputText1" class="form-label">Nome:</label>
    <input
      type="text"
      class="form-control"
      name="exampleInputNome1"
      aria-describedby="emailHelp"
      [(ngModel)]="pedido.nome"
      [disabled]="desabilitaCampo"
    />
  </div>

  <div class="mb-3">
    <select
      [(ngModel)]="pedido.entrega"
      [disabled]="desabilitaCampo"
      class="form-select"
      aria-label="Default select example"
      name="select1"
    >
      <option [ngValue]="undefined">Selecione uma Opção</option>
      <option [ngValue]="true">Delivery</option>
      <option [ngValue]="false">Balcão</option>
    </select>
  </div>

  <div class="mb-3">
    <div class="form-floating">
      <textarea
        class="form-control"
        placeholder="Leave a comment here"
        [(ngModel)]="pedido.observacao"
        [disabled]="desabilitaCampo"
        name="floatingTextarea2"
        style="height: 60px"
      ></textarea>
      <label for="floatingTextarea2">Observacao</label>
    </div>
  </div>

  <button
    type="button"
    class="btn btn-success col-md-2 offset-md-10"
    (click)="lancar(modal1)" [disabled]="desabilitaCampo"
  >
    Adicionar Item
  </button>

  <div *ngIf="pedido.item">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Nome</th>
          <th scope="col">Tamanho</th>
          <th scope="col">Valor</th>
  
          <th scope="col">Acoes</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of pedido.item; let i = index">
          <th scope="row">{{ item.id }}</th>
          <td>{{ item.nome }}</td>
          <td>{{ item.tamanho }}</td>
          <td>{{ item.valor }}</td>
          <td>
            <button
              type="button"
              class="btn btn-danger"
              (click)="deletar(item, i)"
              [disabled]="desabilitaCampo"
            >
              Deletar
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  
  <!-- criar componenet modal de enderecos lista -->
  <button type="submit" class="btn btn-primary">Salvar</button>
</form>

<ng-template #modal1 let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Modal title</h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    <app-itemslista
      [modoLancamento]="true"
      (retorno)="retornoItemLista($event)"
    ></app-itemslista>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-light"
      (click)="modal.close('Close click')"
    >
      Close
    </button>
  </div>
</ng-template>

<ng-template #modal2 let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Modal title</h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    <app-pessoaslista
      [modoLancamento]="true"
      (usuarioRetorno)="receberUsuario($event)"
    ></app-pessoaslista>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-light"
      (click)="modal.close('Close click')"
    >
      Close
    </button>
  </div>
</ng-template>
